 .ticket-wrapper {
     width: 50%;
     margin: 0 auto;
     /* centers horizontally */
 }

 .ticket-header {
     text-align: center;
     margin-bottom: 6px;
 }

 .ticket-logo img {
     width: 60px;
     margin-bottom: 4px;
 }

 .ticket-header h4 {
     margin: 2px 0;
 }

 .ticket-header p {
     margin: 0;
 }

 .details-container {}

 table {
     border-collapse: collapse;
     margin-bottom: 6px;
     word-wrap: break-word;
 }

 td {
     padding: 2px 0;
     vertical-align: top;
 }

 .title {
     font-weight: bold;
 }

 .value {
     word-break: break-word;
 }



 .qr {
     text-align: center;
     margin-top: 6px;
 }

 .qr img {
     width: 50px;
     height: 50px;
 }

 .ticket-wrapper {
     page-break-inside: avoid;
 }